<ion-view view-title="GO-FOOD" class="rms-theme rms-menu " >
    <ion-content overflow-scroll="true">
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
    <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)">
        <ion-slide >

        <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/junk.jpg" alt="">
        </div>
        </ion-slide>
        <ion-slide>
         <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/otdih-restoran-2.jpg" alt="">
        </div>
         </ion-slide>
         <ion-slide>
         <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/italianpizza.jpg" alt="">
        </div>
        
         </ion-slide>



    </ion-slide-box>
        
        <div class="divider"></div>
        
        <div class="row" ng-click="vm.setLocation1()" id="submit" >
                <h4 class="ion-ios-location-outline"></h4>
                <h5 class="col col-25 balanced"><strong> NEAR ME</strong></h5>
                <h5 class="col col-50">See Restaurant Near Your Location</h5>
                 <i class="col col-25 col-offset-10 ion-ios-arrow-right dailyMenu" ></i>
                 
            </div>

            <div id="a"></div>
            <div class="divider"></div>

             <div>
            <h4 class="margin-left-top balanced">TOP PICKS</h4>
            <div class="divider"></div>
        </div>
        <div >
            <div  class="list card " ng-repeat="food in vm.foods track by $index ">
            <div class="item item-thumbnail-left thumbnail-image border-transparent-margin" >
                <img src="../img/pizzahut.png" />
                <ionic-ratings class="star" ratingsobj='ratingsObject' index='0'></ionic-ratings>
                <h2 class="restaurantlist bold">{{food.name}}</h2>
                <p class="restaurantlist">{{food.detail}} </P>
                      <div class="row">
                 <h4 class="col col-80 restaurantlist bold">{{food.restaurant}}</h4>
                 
                 <span class="col col-20 text-center ion-android-cart " style="color:white;background:DodgerBlue;border-radius:30px;height:24px;width:20px;font-size:20px"  ng-click="vm.addToCart1(food)"> </span>
                </div>
                
            </div>
            <div class="row">
                 <div class="col-50 margin-left-17p delivery-dollar bold-400">{{food.rs + " "+food.price}}</div>
                <div class="col-offset-5 delivery-dollar">delivers in <b>{{food.deliveryTime}}</b></div>
            </div>
            </div>
        </div>
        <div class=" bar bar-balanced">     
            
                <h2 class="col col-50 col-offset-5 bold-400 ion-android-cart " ui-sref="app.items" ng-click="vm.cartF(data)"><i class="badge badge-assertive">{{vm.cart2 +1}}</i> </h2>
        </div>
    </ion-content>
</ion-view>
