<ion-view view-title="GO-MART" class="rms-theme rms-menu" >
    <ion-content overflow-scroll="true">
         <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
        <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/flashalert.png" alt="">
        </div>
            
            <div class="divider"></div>

             <div>
            <h4 class="margin-left-top balanced" id="submit1">FAST PURCHASED</h4>
            <div class="divider"></div>
        </div>
       
        <div class="list card ">
            <div  ng-repeat="product in vm.products track by $index">
            <div class="item item-thumbnail-left thumbnail-image border-transparent-margin" >
                <img src="{{product.img}}" />
                <h2 class="restaurantlist bold">{{product.name}}</h2>
                <p class="restaurantlist">{{product.detail}} </P>
                 <div class="row">
                 <h4 class="col col-80 restaurantlist bold">{{product.shop}}</h4>
                 
                 <span class="col col-20 text-center ion-android-cart " style="color:white;background:DodgerBlue;border-radius:30px;height:24px;width:20px;font-size:20px"  ng-click="vm.addToCart(product)"> </span>
                </div>
            </div>
            <div class="row">
                 <div class="col-50 margin-left-17p delivery-dollar bold-400">{{product.rs + " "+product.price}}</div>
                <div class="col-offset-5 delivery-dollar">delivers in <b>{{product.deliveryTime}}</b></div>
            </div>
            </div>
        </div>
        <div class=" bar bar-balanced">     
            
                <h2 class="col col-50 col-offset-5 bold-400 ion-android-cart " ui-sref="app.items" ng-click="vm.cart(data)"><i class="badge badge-assertive">{{vm.cart1 +1}}</i> </h2>
        </div>
        <div id="m"></div>
    </ion-content>
</ion-view>
