<ion-view view-title="Fast Delivery" class="rms-theme rms-menu" hide-nav-bar="false">
    <ion-content class="fm">
        <div class="divider"></div>
         <ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideChanged(index)">
        <ion-slide >

        <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/food.jpg" alt="">
        </div>
        </ion-slide>        
         <ion-slide >

        <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/weatherapp.png" alt="">
        </div>
        </ion-slide>
        
        <ion-slide>
         <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/tracker.png" alt="">
        </div>
         </ion-slide>
         <ion-slide>
         <div class="gem-viewpost--image">
            <div class="overlay"></div>
            <img src="img/screenrecorder.png" alt="">
        </div>
        
         </ion-slide>



    </ion-slide-box>
        

        <div class="row">
        <!--<button class="button button-block button-royal button-balanced-width ion-fork " ui-sref="app.goFood"> <span class="ion-spoon"> </span>
            GO FOOD
        </button>-->
           <div class="home1 col col-30 col-offset-5"  ui-sref="app.goFood">Go Food <span class="row home2"><span class="col col-10 col-offset-25 ion-fork "></span> <span class="col col-10 col-offset-10 ion-spoon"> </span></span> </div>
           <div class="home1 col col-30 col-offset-10" ui-sref="app.goMart">Go Mart <span class="row home3"><span class="col col-10 col-offset-25 ion-android-cart "></span> </span></div>
        <!--<button class="button button-block button-calm button-balanced-width ion-ios-cart-outline  " ui-sref="app.goMart">
             GO MART
        </button>
        </div>-->
    </ion-content>
</ion-view>
