

<ion-view view-title="FAMILYMART" class="rms-theme rms-menu">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-arrow-back" >
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <p class="button button-icon button-clear ion-android-search">
        </p>
        <p class="button button-icon button-clear ion-ios-information-outline">
        </p>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <div class="list" >
            <div class="item item-icon-right" ng-repeat="item in vm.items track by $index">
              
                    <div class="row">
                         <h2 class="col col-75"><b>{{item.name}}</b> </h2>
                     <div class="col col-10 col-offset-10 ion-minus-circled font-25p" ng-click="vm.decreaseQuantity($index)"></div>
                    <div class=" col col-10 text-center font-25p">{{item.quantity}} </div>
                    <div class="col col-10 ion-plus-circled font-25p" ng-click="vm.increaseQuantity($index)"></div>
                    
                    </div>
                     
                <h3 class="light-300 item-h3-box">{{item.detail}}</h3>
                <h4 class="bold">{{item.subTotal}}</h4>
            </div>
        </div>
         <button class="button button-block button-balanced button-balanced-width ion-fork " ui-sref="app.order" ng-click="vm.order(data)"> <span class="ion-spoon"> </span>
            Proceed to Order
        </button>
    </ion-content>
</ion-view>
