<ion-view view-title="Login" class="haycoo-form gemionic-theme" hide-nav-bar="true" >
  <ion-content class="primary-font" scroll="true" style="background-url('img/food.jpg')">
    <div class="text-center padding-vertical " style="background:red;">
      <h3 class="" style="color:white" >Login</h3>

    </div>
    <form name="signUpForm" ng-submit="signUpForm.$valid && vm.signUpSubmit()" novalidate >
    <div class="list" >
      <label class="item item-input item-round" >
        <input class="text-center" type="email" placeholder="EMAIL ADDRESS" ng-model="vm.signUp.email" required >
      </label>
      <div ng-messages="signUpForm.email.$error" style="color:maroon" role="alert" ng-if="signUpForm.email.$dirty || signUpForm.$submitted">
           <div ng-message="required">You did not enter a field</div>
       </div>

      <label class="item item-input item-round">
        <input class="text-center" type="password" placeholder="PASSWORD" name="password" ng-model="vm.signUp.password" required  ng-minlength="5" ng-maxlength="10">
       </label>
       <div ng-messages="signUpForm.password.$error" style="color:maroon" role="alert" ng-if="signUpForm.password.$dirty || signUpForm.$submitted">
           <div ng-message="required">You did not enter a field</div>
           <div ng-message="minlength">lenght must be of at least 5 characters </div>
           <div ng-message="maxlength">Length can't be greater than 20 characters</div>
        </div>
    <div><button type="submit" class="button button-block button-balanced button-outline margin-top-m15" >
      CONTINUE
    </button></div>
    <div class="padding-vertical">
      <h4 class=" text-center balanced bold" >forget password?</h4>
    </div>
    </div>
    </form>
  </ion-content>
</ion-view>
