<!--
Style Files:
  project-folder/scss/general.scss
  project-folder/scss/menu.scss
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="gemionic-theme primary-font">
    <ion-nav-bar class="bar bar-clear">
      <ion-nav-back-button>
      <!-- <i class="ion-arrow-left-c"></i> -->
      </ion-nav-back-button>


    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="gem-menu">
    <ion-content>
      <div class="gem-menu--profile">

        <!-- Profile Box Section -->
        <div class="profile-details">
          <div class="profile-actions">
            <button class="button-circle"><i class="icon ion-ios-email"></i></button>
            <button class="button-circle"><i class="icon ion-heart"></i></button>
          </div>
          <h4>Macy</h4>
          <h3>MarvenKraft</h3>
        </div>
        <!-- End Profile Box Section -->

        <img src="img/demo/profile.png" alt="">
      </div>

      <!-- Sidebar Header. Use for group link titles -->
      <h5 class="header">January 24th 2016</h5>
      <!-- End Sidebar Header -->

      <!-- Usual List -->
      <ion-list>
        <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/forgot">
          Forgot Password
        </ion-item>
        <ion-item menu-close href="#/app/feed">
          Feed
        </ion-item>
        <ion-item menu-close href="#/app/timeline">
          Timeline
        </ion-item>
        <ion-item menu-close href="#/app/inbox">
          Inbox
        </ion-item>
        <ion-item menu-close href="#/app/friend-list">
          Friend List
        </ion-item>
        <ion-item menu-close href="#/app/view-post">
          View Post
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <!-- Usual List -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
