<ion-view view-title="FAMILYMART" class="rms-menu rms-theme">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-arrow-back">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="appetizers">
            <div class="row">
                <h4 class="col-50 bold-400">Your Order</h4>
                <h5 class="col-offset-25 balanced">Edit Order</h5>
            </div>
            <div class="divider"></div>
        
            <div class="divider "></div>
        <h4 class=" text balanced bold-400">PAYMENT DETAILS </h4>
            <div class="divider"></div>

        <div class="row margin-bottom-m20">
            <h3 class="ion-ios-cart-outline"></h3>
            <h5 class="col col-50 bold-400 "> Cost (EST)</h5>
            <h5 class="col col-50 col-offset-25 bold-400 ">{{vm.basket1.currency + ' '}} {{vm.basket1.subTotal}}</h5>
        </div>
        <div class="row margin-bottom-m20">
            <h3 class="ion-android-bicycle"></h3>
            <h5 class="col col-50 bold-400">  Delivery Fee</h5>
            <h5 class="col col-50 col-offset-25 bold-400">{{vm.basket1.currency + ' '}} {{vm.basket1.deliveryFee}}</h5>
        </div>
<div class="divider"></div>
            <div class="row margin-bottom-m20">
        
            <h5 class="col col-50"><strong>Total Price</strong></h5>
            <h4 class="col col-50 col-offset-25"> <strong>{{vm.basket1.currency + ' '}} {{vm.total1()}}</strong></h4>
        </div>
        <div class="divider"></div>
  <div class=" bar bar-positive">     
            <h4 class="col col-50 col-offset-10 bold-400 ion-social-usd"> Cash</h4>
                <h4 class="col col-50 col-offset-5 bold-400"> {{vm.basket1.currency + ' '}} {{vm.total1()}}</h4>
        </div>
 <div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>
 
<div class="divider"></div>
<div class="divider"></div>
<div class="divider"></div>

<div class="divider"></div>
<
<div class="divider"></div>
 <div class=" bar bar-stable">     
        
           <p class="ion-ios-information-outline"> By ordering with Go-MART you are agreeing to the <u><b>terms and conditions</b></u></p>
        </div>
        <div class="divider"> <div class="divider"><div class="divider"><div class="divider"></div><div class="divider"></div><div class="divider"></div><div class="divider"></div><div class="divider"></div><div class="divider"></div>
        <div class="divider"></div><div class="divider"></div>
         
 <div class="row bar bar-balanced">     
            <h4 class="col col-50 col-offset-20 text-center"> <strong>ORDER</strong></h4>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>
