<ion-view>
     <ion-content class="primary-font" scroll="false">
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <div>
                <img class="logo" src="../img/otdih-restoran-2.jpg">

                <div class="welcomeBox1">
                    <h3 align="center">Ready to eat ? </h3>
                    <p align="center">
                        Select from the best rated restaurants and various payment methods -online and offine</p>
                </div>
                <div class="welcomeBox1Btn">
                    <button class="button button-block button-positive">Let's start</button>
                </div>
            </div>

        </ion-slide>

        <ion-slide>
            <div>
                <img class="logo" src="../img/otdih-restoran-2.jpg">

                <div class="welcomeBox1">
                    <h3 align="center">Let's do it faster </h3>
                    <p align="center">
                        Tell us where you are, we'll find the restaurants that deliver right to your doorstep </p>
                </div>
                <div class="WelcomeBox1Btn" align="center">
                    <button class="button  button-large" ui-sref="">Manually</button>
                    <button class="button  button-positive  button-large">Locate me</button>
                </div>
            </div>

        </ion-slide>

    </ion-slide-box>
     </ion-content>
</ion-view>