.rms-menu{
   .home1{
   width:50px;
   height:50px;
   background: green;
}
  .item-dailyMenu
  {
    background-color: whitesmoke;
  }
  .item-divider.item-dailyMenu {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
    border-color: #e8e7e7;
  }
  .menulist-greyfont{
    font-size: 14px;
    font-weight: 100;
    color: grey ;
  }
  .ion-ios-arrow-down.dailyMenu:before{
    font-size: 30px;
    color: #a7a5a5;
  }
  .ion-ios-arrow-right.dailyMenu:before {
    color: #aaa8a8;
    font-size: 22px;
  }
  .item.item-padding-11{
    padding: 11px;
  }
  .ion-ios-circle-outline.circle-percentage:before {
    font-size: 40px;
    margin-top: -6px;
    color: #ef313d;
  }
  .percentage{
    font-size: 20px;
    color: #ef313d;
    position: absolute;
    margin-top: 2px;
    margin-left: -24px;
  }
  .flat-deals{
    margin-left: 8px;
  }
  .ion-search:before {
    font-size: 25px;
    margin-top: 5px;
  }
  .serach-icon-arrow{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 9px;
  }
  .search-font > input{
    font-size: 16px;
  }
  .box{
    padding: 7px;
    background: #f1efef;
    position: relative;
    margin: 10px 0 0 0;
    border-top: 2px solid #e8e8e8;
  }
  .arrow-dropdown{
    font-size: 25px;
    color: #aeacac;
  }
  .search{
    margin-top:30px;
    text-align: center;
  }
  .button-filter{
    border-color: rgb(210, 204, 204);
    background-color: #ffffff;
    color: #47c16a;
    min-width: 47px;
    min-height: 47px;
    border-radius: 50px;
  }
  .button-filter.activated{
    border-color: rgb(210, 204, 204);
    background-color: #47c16a;
    color: #ffffff;
  }
  .button-filterBy{
    min-width: 94px;
    min-height: 40px;
    color: #47c16a;
    border-color: rgb(210, 204, 204);
  }
  .button-quickFilter{
    min-width: 94px;
    min-height: 40px;
    color: #47c16a;
    border-color: rgb(210, 204, 204);
    border-radius: 12px;
  }
  .gem-viewpost--image, .gem-profile--image {
    img, .overlay {
      width: 100%;
      min-height: 225px
    }
    .overlay {
      position: absolute;
      z-index: 2;
    }
  }
  .rms-viewpost--image, .rms-profile--image {
    img, .overlay {
      width: 100%;
      min-height: 225px;
    }
    .overlay {
      position: absolute;
      z-index: 2;
    }
  }
.button-swap{
  min-width: 10px;
  min-height: 10px;
  font-size: 12px;
  line-height: 21px;
  border-radius: 15px;
  background-color: #afadad;
  margin-top: 7px;
  margin-left: 3px;
}
  .button-balanced-width{
    width: 90%;
    margin-left: 16px;
  }
  .margin-left-top{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
  }
  .thumbnail-image>img{
    position: absolute;
    top: 13px;
    left: 13px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
  }
  .ion-android-radio-button-off.icon-circle:before {
    font-size: 30px;
    color: #797979;
  }
  .icon-percentage-card{
    position: absolute;
    margin-left: -18px;
    margin-top: 5px;
    color: #767676;
  }
  .delivery-dollar{
    font-size: 15px;
    margin-top: 4px;
    color: #676767;
  }
  .restaurantlist{
    overflow: visible;
    text-overflow: ellipsis;
    white-space: normal;
  }
.add-sub{
  overflow: hidden;
  margin: 20px 8px;
  background-color: #fff;
  border-radius: 5px;
}
  .ion-minus-circled:before {
    color: #33cd5f;
  }
  .ion-plus-circled:before {
    color: #33cd5f;
  }
  .margin-button-width{
    width: 90%;
    margin-left: 15px;
  }
  .margin-lr{
    margin-left: -10px;
    margin-right: -10px;
  }
  .margin-deals{
    font-weight: 100;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .checkout-amount{
    background-color: #ef313d;
  }
  .appetizers{
    margin: 10px;
  }
  .comment-optional>label{
    border-top: transparent;
    border-bottom: 1px solid #a5a3a3;
    border-left: transparent;
    border-right: transparent;
  }
  .ion-android-compass:before {
    font-size: 25px;
    color: #33cd5f;
  }
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  border: transparent;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}