$primary-color : #ef313d;
$secondary-color : #f8f3bc;



// Primary Color classes - based on color scheme above
.primary-bg-color {background-color: $primary-color;}
.secondary-bg-color {background-color: $secondary-color;}

.rms-theme{
  .home1{
   width:50px;
   height:50px;
   background: green;
}
.margin-top-m22{
  margin-top: -22px;
}
  .margin-top-m30{
  margin-top: -30px;
}
  .margin-top-m20{
  margin-top: -20px;
}
  .margin-bottom-m20{
  margin-bottom: -20px;
}
  .margin-left-10p{
  margin-left: 10px;
}
  .margin-top-m10{
  margin-top: -10px;
}
  .color-grey{
    color: grey ;
  }
.margin-top-m7{
  margin-top: -7px;
}
  .margin-left-m7{
  margin-left: -7px;
}
  .margin-top-left-dropdown{
    margin-left: -7px;
    margin-top: -4px;
  }
  .margin-left-m8{
    margin-left: 8px;
  }
  .margin-left-top-20p{
    margin-left: 20px;
    margin-top: 20px;
  }
  .margin-top-30px{
    margin-top: 30px;
  }
  .bo.margin-top-25px{
    margin-top: 30px;
  }
  .font-color-white{
    color: white;
  }
  .h7-weight{
    color: $balanced;
    font-weight: 100;
  }
  .bold{
    font-weight: bold;
  }
  .light-300{
    font-weight: 300;
  }
  .light-100{
    font-weight: 100;
  }
  .item h3.item-h3-box{
    overflow: visible;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .margin-left-17p{
    margin-left: 17px;
  }
  .margin-m10p{
    margin: -10px;
  }
  .border-transparent{
    border: transparent;
  }
  .border-top-transparent{
    border-top-color: transparent;
    border-bottom-color: lightgrey;
  }
  .border-top-transparent-list{
    border-top-color: transparent;
  }
  .border-grey{
    border: lightgrey;
  }
  .border-transparent-margin{
    border-bottom: transparent;
    margin-top: -7px;
  }
  .divider{
    width: 94%;
    margin-right: -1px;
    margin-top: -7px;
  }
  .padding-right-6{
    padding-right: 6px;
  }
  .margin-left-15p{
    margin-left: 15px;
  }
.font-25p{
  font-size: 25px;
}
  .divider {
    margin-top: 5px;
    border-bottom: 1px solid #e2e1e1;
    margin-left: -11px;
    width: 110%;
  }
  .overflow-scroll {
  overflow-y: auto;
}
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
  }
.bold-400{
  font-weight: 400;
}

}


