/* Empty. Add your own CSS if you like */
.logo{
    width: 100%;
    height: 28em;
}

.welcomeBox1{
     margin-top: 1em;
}

.welcomeBox1Btn{
    margin-top: 1em;
}
.slider-pager{
    bottom: -5px;
}

.deliver{
    font-size: 0.8em;
    float:right;
}
 .home1{
   font-size: 30px;
   font-weight: bold;
   height:120px;
   text-align:center;
   background: SpringGreen;
   border-radius: 5px;
   border:1px solid dodgerblue;
   color:darkslategray

}
.home2{
    font-size: 55px;
    color:MediumVioletRed
}

.home3{
    font-size: 55px;
    color:orangered
}
.fm{
    background:whitesmoke;
}
.dollar{
        margin-left: -90px; 
}

.item-thumnail-left img{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 60px;
    max-height: 60px;
    width: 69%;
    height: 70%
}

.star {
    text-align: left;
}

.fee1{
    font-size:12px;
}
.fee2{
    font-size:12px;
    margin-left:20px;
}
.rs1 {
    text-align:center;
    font-weight: bold;
    font-size:15px;
    margin-left: 10px;
}

.rs2 {
    float:right;
    font-weight: bold;
    font-size:15px

}

.plus{
    float:right;
}

.no{
 text-align: center;
}

.appetizers{
    margin: 10px;
}

.voucher{
     text-decoration: none;
    float:right;
}

.product{
    color:cadetblue;
    margin-top:20px;
    text-align: center;
}

.checkout{
    float:right;
    font-size: 30px;
}

.addproduct{
    background-color:ghostwhite;
}
.search{
    margin-top:30px;
    text-align: center;
}

.deal{
    float:right;
    font-size: 20px;
    margin-top:-25px;
}

.sort{
    font-size: 40px;
    color:cornflowerblue
}

.category{
    margin: 10px;
}
.budget{
    color:cornflowerblue
}




#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  width: 350px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#latlng {
  width: 225px;
}
